.main-grad
  padding-top 8rem
  padding-bottom 3rem
  background linear-gradient(black, blue, cyan)

.space-grad
  padding-top 5rem
  padding-bottom 3rem
  background linear-gradient(black, blue)

.no-focus
  outline none

.img-w
  width 100%
  padding 0 2.5rem
