<!-- Fix top nagivation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ECX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="#">Services</a>
      <a class="nav-item nav-link" href="#">Training</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Blog</a>
    </div>
  </div>
</nav>
<!-- Main container -->
<div class="container-fluid m-0 p-0">
  <div class="row w-100 main-grad no-gutters">
    <div class="col">
      <img src="assets/images/ecx-shuttle.png" height="300px" alt="" class="mx-auto d-block">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col h3 mt-5 text-center mb-5">Worry free Development and Infrastructure Services</div>
  </div>
  <!-- Short columized services introduction -->
  <div class="row">
    <div class="col">
      <p>
        <img src="assets/images/design-badge.png" class="mx-auto d-block" alt="">
      </p>
      <p class="h4">Design</p>
      <p>
        We create rich interactive and responsive Web sites that people love to interact with.
      </p>
      <p>
        It begins with the User experience (UX) in mind, an elegant approach to seamless navigation and fluid layout.
      </p>
      <p>
        We provide in-house Logo design, photo editing, digital and print media content creation.
      </p>
    </div>
    <div class="col">
      <p>
        <img src="assets/images/development-badge.png" class="mx-auto d-block" alt="">
      </p>
      <p class="h4">Development</p>
      <p>
        Achieve a rock solid Web presense and maximize the speed that content is deliver to your visitor.
      </p>
      <p>
        We provide both Front-end and Back-end development using modern frameworks and tooling.
      </p>
      <p>
        Service is also avilable for conducting Usability testing, A/B design testing and Site end to end testing.
      </p>
    </div>
    <div class="col">
      <p>
        <img src="assets/images/deploy-badge.png" class="mx-auto d-block" alt="">
      </p>
      <p class="h4">Infrastructure</p>
      <p>
        Seamlessly build, deploy and scale to new servers or the Cloud.
      </p>
      <p>
        Eliminate the headaches and cost by having a frictionless environment done correctly from the start.
      </p>
      <p>
        Have an existing infrastructure already, then talk to us about moderanizing your network or moving it to the cloud.
      </p>
    </div>
    <div class="col">
      <p>
        <img src="assets/images/monitor-badge.png" class="mx-auto d-block" alt="">
      </p>
      <p class="h4">Monitor</p>
      <p>
        Eliminate down time by monitoring resources, Site traffic.
      </p>
      <p>
        Easily scale your service to handle peak load and provide durability and operational stability.
      </p>
    </div>
  </div>
</div>
<!-- Main container -->
<div class="container-fluid mt-5 p-0">
  <div class="row w-100 space-grad no-gutters">
    <div class="col">
      <img src="assets/images/exc-shuttle-deploy.png" height="350px" alt="" class="ml-5">
    </div>
  </div>
</div>
